.title {
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-family: brandon-grotesque;
  font-size: 3rem;
  text-align: center;
}

#home-title {
  font-family: brandon-grotesque-bold;
  font-size: 11vw;
  color: rgb(219, 219, 219);
  /* opacity: 0.85; */
}

#home-subtitle {
  font-family: brandon-grotesque;
  font-size: 2.95vw;
  color: rgb(219, 219, 219);
}

#home-img-dark {
  filter: brightness(70%);
  min-width: 100vw;
  max-height:  100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.home-img-container {
  margin: 0;
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}

.bottom-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 600%);
}

#about-propic {
  width: 20vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#about-body {
  font-family: montserrat-light;
  color: rgb(219, 219, 219);
  font-size: 1.2rem;
}

#about-emph {
  font-family: montserrat-bold;
  color: rgb(219, 219, 219);
  font-size: 1.2rem;
}

.about-black-container {
  margin: 0;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 20vh;
  background-color: rgb(12,13,13);
  width: 100%;
}

.skills-container {
  margin: 0;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-bottom: 20vh;
  padding-top: 5vh;
}

#skills-subheader {
  font-family: brandon-grotesque-light;
  color: rgb(12,13,13);
  font-size: 2rem;
}

#skills-body {
  font-family: montserrat-light;
  color: rgb(12,13,13);
  font-size: 1.2rem;
}

body {
  background-color: rgb(219, 219, 219);
}

@font-face {
  font-family: brandon-grotesque;
  src: url(../fonts/Rubik/Rubik-Medium.ttf);
}

@font-face {
  font-family: brandon-grotesque-bold;
  src: url(../fonts/Rubik/Rubik-SemiBold.ttf);
}

@font-face {
  font-family: brandon-grotesque-light;
  src: url(../fonts/Rubik/Rubik-Light.ttf);
}

@font-face {
  font-family: montserrat-light;
  src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
  font-family: montserrat-bold;
  src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}